<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOG_HOME" value="wss_logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
            <!--
			<pattern>[%d %-5level %thread %class{0}:%line] %websocketRequest%n</pattern>
			-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %thread %class{0}:%method:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<file>${LOG_HOME}/wss.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/rolling/wss-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %thread %class{0}:%method:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">

		<appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <!--
        <appender-ref ref="appender.main" />
-->
   </root>
</configuration>