datasource/target/
!datasource/.mvn/wrapper/maven-wrapper.jar
datasource/.idea
datasource/*.iws
datasource/*.iml
datasource/*.ipr
datasource/target/


zwsrv/target/
zwsrv/.idea
zwsrv/*.iws
zwsrv/*.iml
zwsrv/*.ipr
zwsrv/target/
